@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #FFFFFF; /* Texto em um tom mais claro para contraste */
    background-color: #FFFFFF; /* Fundo mais escuro */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #FFFFFF; /* Manter o contraste */
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

/* Container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Responsive Breakpoints */

@media (max-width: 640px) {
    .container {
        padding: 1rem;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .container {
        padding: 2rem;
    }

    /* Utility Classes */
}

@media (min-width: 1025px) {
    .container {
        padding: 3rem;
    }
    
}
